@import "tailwindcss";

/* Mobile scaling */
@media (max-width: 640px) {
  html { font-size: 14px; }
}

@media (max-width: 380px) {
  html { font-size: 13px; }
}

section[id^="date-"] {
  scroll-margin-top: 150px;
}
